@charset "ISO-8859-1";
	body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

	button
		{
			border-color: darkblue;
			border-radius: 7px;
			height: 40px;
			width: 150px;
		}
			button:hover
			{
				background-color: #955cb8;
				color: white;
				border-color: red;
			}

button.active {
    background-color: #007bff;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9ecef;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logout{
margin-left: 1000px;
}
.logout button{
 background-color:red;
 }
.logout button a{
 background-color:red;
 color:white;
}
hr{
height:3px;
	background-color: black;
	margin:7px;

}
	
